<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FuzzLab.VoodooVoice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FuzzLab.VoodooVoice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FuzzLab.VoodooVoice.Properties.Settings>
            <setting name="Personality" serializeAs="String">
                <value>DefaultPersonality.psn3</value>
            </setting>
        </FuzzLab.VoodooVoice.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FuzzLab.VoodooVoice.Properties.Settings>
            <setting name="Mp3PlayerPlugin" serializeAs="String">
                <value>Mp3Player.iTunes</value>
            </setting>
        </FuzzLab.VoodooVoice.Properties.Settings>
    </applicationSettings>
</configuration>